.button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;

  font-size: calc(3px + 2vmin);

  background-color: #e0e4e4;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transition: all transition-duration transition-timing;
  cursor: pointer;
}
.button :hover,
:focus {
  color: white;
  background-color: base-color;

  transition: all transition-duration transition-timing;
}
